/* homescreen.css */
.card {
  border: 1px solid #000; /* Border width and color */
  padding: -10px; /* Add padding to the card content */
  margin: auto; /* Center the card horizontally and vertically */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Card background color */
  width: 40%;
  display: flex; /* Use flexbox for layout */
  flex-direction: row; /* Arrange children in a row */
  margin-top: 0px;
}

.imageCover {
  border: 1px solid #000; /* Border around the image */
  padding: 10px; /* Add padding to the image container */
}

img {
  max-width: 100%;
  height: auto;
}

.text-content {
  padding: 10px; /* Add padding to the text content */
  flex: 1; /* Allow text content to expand and fill available space */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* This ensures that the container takes the full height of the viewport */
}

.title {
  text-align: center;
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px; /* Adjust the margin as needed */
}

.switch-container h2 {
  margin-right: 10px; /* Adjust the margin as needed */
}
